@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(../fonts/OpenSans-BoldItalic.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: MYRIADPRO-BOLD;
    src: url(../fonts/MYRIADPRO-BOLD.OTF);
}

@font-face {
    font-family: MYRIADPRO-BOLDIT;
    src: url(../fonts/MYRIADPRO-BOLDIT.OTF);
}

@font-face {
    font-family: MYRIADPRO-REGULAR;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

html {
    height: 100%;
}

body {
    background: #f4f7fa;
    height: 100%;
    overflow: auto;
    min-width: 500px;
}

a {
    color: #0e76bc;
}

.Absolute-Center {
    margin: auto;
    /*position: absolute;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.Absolute-Center.is-Responsive {
    height: 90%;
}

.button {
    line-height: 2.3 !important;
    cursor: auto;
    font-size: 12px;
}

.button:hover, .button:visited, .button:link, .button:active {
    text-decoration: none;
}

.new-kyc-button {
    background-color: #b0d87a;
    border-color: #b0d87a;
    color: #ffffff !important;
    font-family: OpenSans-Regular;
    font-size: 16pt;
}

.button-block {
    margin-bottom: 1%;
}

.view-historical-button {
    background-color: #0e76bc;
    border-color: #0e76bc;
    color: #ffffff !important;
    font-family: OpenSans-Regular;
    font-size: 16pt;
}

.view-historical-button span, .new-kyc-button span {
    vertical-align: middle
}

/*.table{*/
/*border: 1px solid #ccc;*/
/*border-radius: 10px;*/
/*width: 100%;*/
/*border-collapse: separate;*/
/*border-spacing: 0;*/
/*}*/
/*.table td{*/
/*font-size: 10px;*/
/*}*/

.table {
    border: 1px solid #ccc;
    width: 100%;
}

.table td {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
    font-size: 9pt;
    font-family: OpenSans-Italic;
    color: #000000;
}

.table th {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
    font-size: 8pt;
    font-family: OpenSans-Bold;
}

.table .heading-text {
    font-family: OpenSans-Regular;
    font-size: 10pt;
    text-align: left;
    color: #0e76bc;
}

.activity {
    background-color: #ffffff;
}

.activity td {
    padding: 1px;
}

.dashboard-table td {
    font-family: MYRIADPRO-REGULAR;
    color: #7f888f;
    font-size: 8pt;
}

.dashboard-table td a {
    font-family: OpenSans-Regular;
    text-decoration: underline;
}

.gray-header th, .gray-header th a {
    color: #99a0a5;
    font-family: OpenSans-Bold;
    font-size: 7pt;
}

.normal-text {
    font-family: OpenSans-Regular;
    font-size: 8pt;
    color: #000000;
}

/*.activity .request{*/
/*text-align: left;*/
/*}*/

/*.activity .time{*/
/*text-align: right;*/
/*font-style: italic;*/
/*}*/

.field-block {
    display: table-caption;
    padding: 1px;
}

.KYC-document-block {
    /*background: gainsboro;*/
    padding: 10px;
    /*box-shadow: 0 7px 10px -3px black;*/
}

.KYC-document-block .KYC-document {
    padding: 10px;
}

.KYC-document-block input[type=checkbox] {
    margin: 8px 0 0;
}

.in-line-block {
    padding: 10px;
}

.input-field {
    width: 100%;
    margin: 2px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
    border: 1px solid #ccc;
    height: 28px;
    font-family: OpenSans-Regular !important;
    font-size: 8pt !important;
    color: #7f888f;
    font: initial;
}

.input-font {
    font-family: OpenSans-Regular !important;
    font-size: 8pt !important;
}

.help-block {
    width: 100%;
    margin: 2px;
    height: 28px;
    font-size: smaller;
    padding: 8%;
    padding-left: 0px;
    padding-right: 0px;
}

.file-upload {
    position: relative;
    overflow: hidden;
    padding: 0px;
    height: 20px;
    width: 100%;
    font-size: 10px;
    background-color: gray;
    color: #ffffff;
    border-radius: 0px;
    margin-top: 5px;
}

.file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.group-3-text-boxes {
    display: inline-flex;
    min-width: 50px;
    width: 100%;
}

.group-3-text-boxes input {
    height: 28px;
    font: initial;
}

.group-3-text-boxes .first {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #ccc;
}

.group-3-text-boxes .second {
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
}

.group-3-text-boxes .third {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #ccc;
}

.group-3-elem {
    display: inline-flex;
}

.group-3-elem input {
    padding-left: 5px;
    height: 28px;
    font: initial;
}

.group-3-elem .first {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #ccc;
    background-color: #ffffff !important;
}

.group-3-elem .second {
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    background-color: #ffffff !important;
}

.group-3-elem .third {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #ccc;
    background-color: #ffffff !important;
}

.yyyy {
    min-width: 50px;
}

.submit-button-div {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100px;
}

.submit-button {
    line-height: 1.3 !important;
    cursor: default;
    background-color: #0e76bc;
    font-family: OpenSans-Bold;
    font-size: 7pt;
    color: #ffffff;
    border-radius: 0px;
}

.submit-button:hover, .submit-button:focus, .submit-button:active {
    background-color: #0e76bc;
    color: #ffffff;
}

.Exact-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.Exact-Center.is-Responsive {
    height: 70%;
}

.login-block {
    background: #ffffff;
    padding: 25px;
}

.login-block .caption {
    font-family: OpenSans-Regular;
    font-size: 8pt;
    color: #7f888f;
}

.forgot-password {
    color: #177bbe;
    font-family: OpenSans-Regular;
    font-size: 8pt;
}

.login-header {
    font-family: OpenSans-Bold;
    font-size: 30px;
}

.login-header .insta {
    color: #b0d87a !important;
}

.login-header .kyc {
    color: #0e76bc !important;
}

.logo {
    background-repeat: no-repeat;
    height: 35px;
    width: 110px;
}

.help-block a {
    font-family: OpenSans-Regular;
    font-size: 7pt;
    color: #000000;
}

.hamburger {
    position: relative;
    color: #0e76bc;
}

.pie {
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.Exact-Center-table {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.Exact-Center-table.is-Responsive {
    height: 90%;
}

.set-notification {
    color: green;
    height: 20px;
    width: 20px;
}

.not-set-notification {
    color: blue;
    height: 20px;
    width: 20px;
}

.download {
    height: 25px;
    width: 35px;
}

.search {
    padding: 4px 30px 4px 20px;
    margin: 3px;
    background: url('../images/seach-icon.png') no-repeat 8px 6px;
    background-position-x: 95%;
    background-position-y: 10px;
}

.help {
    background-repeat: no-repeat;
    padding: 2px;
    height: 20px;
    width: 20px;
}

a.tooltips {
    position: relative;
    display: inline;
}

a.tooltips span {
    position: absolute;
    width: 100px;
    color: #FFFFFF;
    background: #0e76bc;
    height: 25px;
    line-height: 25px;
    text-align: center;
    visibility: hidden;
    font-size: 12px;
}

a.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 6%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #0e76bc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    bottom: 25px;
    left: 36%;
    margin-left: -20px;
    z-index: 999;
    min-width: 350px;
    height: auto;
}

.datepicker-block {
    border-radius: 0px;
    border: 1px solid #ccc;
}

.datepicker-text {
    padding: 0px;
    font: initial;
}

.invalid-field {
    border-color: #f91818 !important;
    background-color: #fce3e3 !important;
}

.error-message {
    color: #f91818;
    font-family: OpenSans-Regular;
    font-size: 9pt;
    font-weight: normal;
}

/* individual: webkit */
#name::-webkit-input-placeholder {
    word-spacing: 8em;
}

/* individual: mozilla */
#name::-moz-placeholder {
    word-spacing: 8em;
}

#name {
    word-spacing: 6em;
}

.pagination {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.label-height {
    line-height: 2.5;
}

.nav-tabs > li {
    background-color: #0e76bc;
}

.nav-tabs > li > a {
    color: #ffffff;
    width: 100%;
    border-radius: 0px;
    border: none;
    font-family: OpenSans-Bold;
    font-size: 10pt;
    height: 30px
}

.nav-tabs > li.active > a {
    border: none;
    color: #0e76bc;
}

.nav-tabs > li.active > a:hover {
    border: none;
    color: #0e76bc;
}

.nav-tabs > li > a:hover {
    color: #0e76bc;
}

.panel {
    border: 1px solid #000000;
    padding-left: 2%;
    padding-top: 3%;
    padding-bottom: 10%;
}

.summary-report {
    border: 1px solid #000000;
    width: 90%;
}

.summary-report td {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.summary-report th {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    background-color: gray;
}

.form-signin input {
    font-family: OpenSans-Regular;
    font-size: 8pt;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 0px;
}

.form-signin .login-btn {
    margin-top: 10px;
    font-family: OpenSans-Regular;
    font-size: 12pt;
    background-color: #177bbe;
}

.margin-20 {
    margin: 20px;
}

.summary-report-block {
    margin-bottom: 1%;
}

.summary-report-block .caption {
    background-color: #ffffff;
    padding: 6px 12px;
    text-align: left;
    color: #0e76bc;
    font-family: OpenSans-Regular;
    font-size: 12pt;
}

.summary-report-block .header {
    background-color: #0e76bc;
    padding: 6px 12px;
    color: #ffffff;
    font-family: OpenSans-Bold;
    font-size: 9pt;
}

.summary-report-block .values {
    background-color: #ffffff;
    padding: 0px 12px;
}

.summary-report-block .values #total_request {
    color: #b0d87a;
}

.summary-report-block .values #total_completed {
    color: #0e76bc;
}

.summary-report-block .values #total_pending {
    color: red;
}

.summary-report-block .values span {
    font-family: MYRIADPRO-REGULAR;
    font-size: 20pt;
}

.page-header-block {
    background-color: #0e76bc;
    border-color: #0e76bc;
    color: #ffffff;
}

.page-header-block h3 {
    margin-top: 12px;
    margin-left: 12px;
    font-family: OpenSans-Regular;
    font-size: 16pt;
}

.page-header-block .refresh {
    margin-top: 10px;
    margin-left: 12px;
    font-family: OpenSans-Regular;
    font-size: 10pt;
}

.height-inherit {
    height: inherit;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.height-inherit * {
    height: inherit;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.filter-date select, .filter-date input {
    border-radius: 0px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    color: #0e76bc;
    width: 100%;
    background: #ffffff;
    padding: 4px 30px 4px 20px;
    font-family: OpenSans-Bold;
    font-size: 9pt;
}

.filter-date label {
    width: 100%;
}

.filter-search input {
    width: 100%;
    margin: 0px;
    border: none;
    border-right: 1px solid #ccc;
    background: #f4f7fa;
    font-family: OpenSans-Regular;
    font-size: 9pt;
}

.filter-search span {
    padding: 0px;
}

.ribbon {
    position: absolute;
    top: 0px;
    right: 0px;
}

.user-info select {
    border-radius: 0px;
    border: none;
    color: #0e76bc;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    margin: 0px;
}

.user-info label {
    width: 100%;
}

.user-info img {
    height: 25px;
    width: 25px;
    border-radius: 12px;
}

.user-info .dropdown-toggle {
    padding: 5px;
}

.user-info .dropdown {
    border-radius: 0px;
    border: none;
}

.user-info .dropdown-menu li {
    background-color: #ffffff;
}

.width-full {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.menu-count {
    margin-right: 20px;
    background-color: #b0d87a;
    color: #ffffff;
    border-radius: 0px;
    padding: 4px;
}

.new-request-container {
    background-color: #ffffff !important;
    width: 100%;
    height: 100%;
    padding: 0px;
    /*margin: 10px;*/
    min-width: 700px;
}

.new-request-container label {
    margin-top: 5px;
    font-family: OpenSans-Regular;
    font-size: 9pt;
}

.new-request-container div {
    background-color: #ffffff !important;;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-style: solid none;
    border-width: 1px 0;
    width: 100%;
    color: #ccc;;
    background-color: #ccc;
}

.new-request-form-buttons #related {
    background-color: #0e76bc;
    font-family: OpenSans-Bold;
    font-size: 7pt;
    height: 35px;
    color: #ffffff;
}

.save-form {
    color: #0e76bc;
    padding: 10px;
    border: none;
    background: transparent;
}

.new-request-form-buttons #submit, .new-request-form-buttons #save {
    background-color: #b0d87a;
    height: 35px;
    font-family: OpenSans-Bold;
    font-size: 7pt;
    color: #ffffff;
}

.new-request-form-buttons {
    display: inline-flex;
    margin-bottom: 10px;
}

.new-request-form-buttons button {
    margin-right: 5px;
}

.no-border {
    border: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.disclaimer {
    text-align: justify;
    text-justify: inter-word;

    padding-left: 2%;
    padding-right: 2%;
}

.terms {
    text-align: justify;
    text-justify: inter-word;
    padding-left: 2%;
    padding-right: 2%;
}

.termslogo img {
    float: left;
    width: 110px;
    height: 35px;
}

.termslogo h2 {
    position: center;
    top: 18px;
    left: 10px;
}

.disclaimerlogo img {
    float: left;
    width: 110px;
    height: 35px;
}

.disclaimerlogo h2 {
    position: center;
    top: 18px;
    left: 10px;
}

.page-container {
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    .media-width {
        width: 100%;
    }

    .group-3-elem {
        display: inline;
    }

    .group-3-elem .first {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 1px solid #ccc;
        background-color: #ffffff !important;
    }

    .group-3-elem .second {
        border: 1px solid #ccc;
        background-color: #ffffff !important;
    }

    .group-3-elem .third {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border: 1px solid #ccc;
        background-color: #ffffff !important;
    }

    .space-block .block1 {
        padding-right: 0px !important;
    }

    .space-block .block2 {
        padding-left: 0px !important;
    }
}

.report-page-container {
    padding: 1%;
    background-color: #ffffff;
}

.margin-0 {
    margin: 0px;
}

.report-page-header-text {
    border-bottom: 1px solid #ccc;
}

.report-page-header-text h4 {
    color: #0e76bc !important;
    font-size: 18pt;
    font-family: OpenSans-Bold;
}

.report-page-header-data {
    margin-top: 20px;
}

.report-page-header-data table {
    width: 100%;
}

.report-page-header-data table th, .report-page-header-data table td {
    text-align: center;
    padding: 5px;
}

.report-page-header-data table td {
    color: #000000;
    font-size: 9pt;
    font-family: OpenSans-BoldItalic;
}

.report-page-header-data table th {
    border-bottom: 1px solid #ccc;
    color: #0e76bc !important;
    text-align: center;
    font-size: 8pt;
    font-family: OpenSans-Bold;
}

.overall-summary-block table, .customer-document-info-table table {
    width: 100%;
}

.blue-backgroung-header td, .blue-backgroung-header th {
    background-color: #0e76bc;
    color: #ffffff;
}

.customer-document-info-table th, .customer-document-info-table td {
    text-align: left;
}

.bold-center {
    font-family: OpenSans-Bold;
    font-size: 14pt;
    text-align: center !important;
}

.customer-info-table table {
    width: 100%;
}

.customer-info-table td {
    text-align: left;
}

.customer-info-table .key {
    width: 30%;
    background-color: #f0f0f0 !important;
    font-family: OpenSans-Bold;
    font-size: 8pt;
}

.customer-info-table .value {
    width: 70%;
}

.detailed-document-desc {
    margin-top: 20px;
}

.document-desc {
    padding-bottom: 10px;
    font-family: OpenSans-Bold;
    font-size: 8pt;
}

.color-red {
    color: #d52012 !important;
}

.color-green {
    color: #8dc641 !important;
}

.background-green {
    background-color: #8dc641 !important;
}

.validity-colspan .key {
    width: 30%;
}

.validity-colspan .value {
    width: 23%;
}

.no-radius {
    border-radius: 0px !important;
}

.space-block .block1 {
    padding-right: 10px;
}

.space-block .block2 {
    padding-left: 10px;
}

.add-new-tab {
    background-color: transparent !important;
}

.add-new-tab > a {
    color: gray !important;
}

.add-new-tab > a:hover {
    background-color: transparent !important;
    border-color: transparent !important;
}

.date-picker .dropdown-menu {
    top: 0px !important;
    padding: 0px;
    margin-top: 25px;
}

.font-regular {
    font-family: OpenSans-Regular;
}

.font-bold {
    font-family: OpenSans-Bold;
}

.font-bold-italic {
    font-family: OpenSans-BoldItalic;
}

.font-italic {
    font-family: OpenSans-Italic;
}

.size-8 {
    font-size: 8pt;
}

.size-9 {
    font-size: 9pt;
}

.size-10 {
    font-size: 10pt;
}

.size-11 {
    font-size: 11pt;
}

.size-12 {
    font-size: 12pt;
}

.color-blue {
    color: #0e76bc
}

.mis-filter-block {
    background-color: #f0f0f0;
    padding: 25px;
    display: flex;
}

.white-background {
    background-color: #ffffff;
}

.view-container {
    display: inline-block;
}

.report-page-body {
    padding-bottom: 30px;
}

.barcode {
    padding: 3px !important;
}

.add-new-button {
    padding-top: 25px;
}

img.ajaxloader {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: auto;
}

#spinnerDiv {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    z-index: 2000;
    background-color: whitesmoke;
    opacity: .8;
}

.wrap-value {
    display: inline-block;
    width: 120px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.history-table td, .history-table th {
    padding: 0px !important;
    line-height: 2.3 !important;
}

.status-image-size {
    height: 20px;
    width: 20px;
}

.report-read {
    background-color: #f4f7fa;
}

.report-unread {
    background-color: #fff;
    opacity: 2;
}

.report-edited {
    background-color: #F4F7D9;
}

.dashboard-block {
    padding: 8% 0 0;
}

.dashboard-icon {
    background-color: white;
}

.dashboard-icon i {
    font-size: 110px;
    padding: 20px;
    color: #8dc641;
}

.dashboard-button {
    line-height: 2.3 !important;
    background-color: #0e76bc;
    font-family: OpenSans-Bold;
    font-size: 7pt;
    color: #ffffff;
    border-radius: 0px;
}

.dashboard-button:hover, .dashboard-button:focus, .dashboard-button:active {
    background-color: #0e76bc;
    color: #ffffff;
}

.profile-icon i {
    font-size: 90px;
    color: #0e76bc;
    padding: 15px;
}

.fa-character {
    color: #ffffff;
    position: absolute;
    font-size: 30px;
    top: 40px;
    left: 65px;
}

.blue-bold-text {
    color: #0e76bc;
    font-size: 20px;
}

.profile-info {
    padding-top: 25px
}

.plus-icon {
    min-width: 30px;
    width: 30px;
    text-align: center;
    border: 2px solid #0e76bc;
}

.plus-icon i {
    padding: 7px;
    color: #0e76bc;
}

.checkbox-label {
    display: inline-flex;
}

.profile-data-count {
    padding: 2px;
}

.profile-subscription-block {
    min-height: 40px;
}

.profile-info-table table {
    width: 100%;
}

.profile-info-table th, .profile-info-table td {
    text-align: center;
}

.margin-bottom {
    margin-bottom: 5px
}

.multiselect-parent.btn-group.dropdown-multiselect {
    width: 100%;
}

.multiselect-dropdown-style {
    text-align: left;
    background: #f4f7fa;
}

.multiselect-dropdown-style .caret {
    float: right;
    margin-top: 5px;
    display: none;
}

.multiselect-dropdown-style + ul.dropdown-menu {
    width: 100%;
}

select::-ms-expand {
    display: none;
}
