select {
    padding: 3px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
    /*-moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
    /*box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.select-label {
    position: relative;
    display: inherit;
}

.select-label:after {
    content: '>';
    font: 11px "Consolas", monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    top: 7px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}

.select-label:before {
    content: '';
    right: 0px;
    top: 0px;
    width: 25px;
    min-width: 25px;
    height: 26px;
    position: absolute;
    pointer-events: none;
    display: block;
    /*border-left:1px solid #ccc;*/
}

.select-label select {
    margin: 0px !important;
    padding-right: 20px;
    background: #f4f7fa;
}